<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nestopia</title>
</head>
<body>
    All listings
    <form method="get" action="/listing/new" >
        <button>Create New Listing</button>
    </form>
    <ol>
        <% for(let list of lists) { %>
            <li><h2>Title :</h2>
                <a href="http://localhost:3000/listings/<%=list._id%>">
                    <%= list.title %> <br>
                    <img src="<%=list.image.url %>" alt="" height="200px" width="200px">
                </a>
            </li>
    
            <% } %>
    </ol>

</body>
</html>