<% layout('layouts/boilerplate') -%>
<body>
    <h1>All listings</h1>
    <!-- <form method="get" action="/listing/new" >
        <button>Create New Listing</button>
    </form> -->
    <ol>
        <% for(let list of lists) { %>
            <li><b>Title :</b>
                <a href="http://localhost:3000/listings/<%=list._id%>">
                    <%= list.title %> <br>
                    <img src="<%=list.image.url %>" alt="" height="200px" width="200px">
                </a>
            </li>
    
            <% } %>
    </ol>

</body>